body {
    text-align: center;
    justify-content: center;
}
#juego{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    box-sizing: border-box;
}
#squares {
    flex: 1 1 6.25%;
    height: 6.25%;
    border: 1px solid black;
    box-sizing: border-box;
}