body {
    text-align: center;
    justify-content: center;
}
#juego{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    box-sizing: border-box;
}
.squares {
    flex: 1 1 6.25%;
    height: 6.25%;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: background-color 0.3s;
}
.hovered {
    flex: 1 1 6.25%;
    height: 6.25%;
    border: 1px solid #000;
    background-color: aqua;
    box-sizing: border-box;
}